@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url("minimalist-wallpaper-2010231509427.webp");
}

h1{
    text-shadow: 2px 2px rgb(154, 154, 154);
}

.libriitaliano{
    line-height: 90%;
}

.container{
    display: flex;
    width: 200vh;
}

.panel{
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: black;
    height: 80vh;
    width: 5vh;
    border-radius: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin:0;
    opacity:0;
}

.compiti li{
    font-size: 20px;
    margin:10px;
    opacity:0;
}

.panel.active{
    flex: 5;
    box-shadow: 2px solid black;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active li{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active a.primo{
    position: absolute;
    bottom: 50px;
    left: 15px;
    text-decoration: none;
}

.panel.active a.secondo {
    position: absolute;
    bottom: 50px;
    left: 70px;
    text-decoration: none;
}

.pagineinglese{
    line-height: 80%;
}

.doc{
    display: none;
}
.panel.active img.doc{
    display: block;
}

@media (max-width: 400px){
    .container{
        width: 100%;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(4){
        display: none;
    }
}